{% load static %}

<!-- Start Flickr Widget -->

  <div class="widget flickr-widget">
                        
    <div class="section-heading-2">
        <h3 class="section-title">
            <span>Services</span>
        </h3>
    </div>
    
   <p>    آموزش زبان برنامه نویسی و برگزاری دوره های آموزسی برای نوجوانان </p> <ul class="flickr-list">
        <li>
            <a href="{% static 'images/flickr/8.jpg'%}" data-lightbox="picture-1">
                <img src="{% static 'images/flickr/8.jpg'%}" alt="" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="{% static 'images/flickr/7.jpg'%}" data-lightbox="picture-2">
                <img src="{% static 'images/flickr/7.jpg'%}" alt="" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="{% static 'images/flickr/6.jpg'%}" data-lightbox="picture-3">
                <img src="{% static 'images/flickr/6.jpg'%}" alt="" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="{% static 'images/flickr/5.jpg'%}" data-lightbox="picture-4">
                <img src="{% static 'images/flickr/5.jpg'%}" alt="" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="{% static 'images/flickr/4.jpg'%}" data-lightbox="picture-5">
                <img src="{% static 'images/flickr/4.jpg'%}" alt="" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="{% static 'images/flickr/3.jpg' %}" data-lightbox="picture-6">
                <img src="{% static 'images/flickr/3.jpg' %}" alt="" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="{% static 'images/flickr/2.jpg' %}" data-lightbox="picture-7">
                <img src="{% static 'images/flickr/2.jpg' %}" alt="" class="img-responsive">
            </a>
        </li>
        <li>
            <a href="{% static 'images/flickr/1.jpg' %}" data-lightbox="picture-8">
                <img src="{% static 'images/flickr/1.jpg' %}" alt="" class="img-responsive">
            </a>
        </li>
    </ul>
</div>
<!-- End Flickr Widget -->