{% load static %}

<div class="widget widget-recent-post">
                        
    <div class="section-heading-2">
        <h3 class="section-title">
            <span>Recent Post</span>
        </h3>
    </div>
    
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{% static 'images/recent-post/post-02.jpg' %}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="#">Nulla facilisi integer lacinia sollicitudin massa</a></h4>
            <ul>
                <li><a href="#">Super User</a></li>
                <li>15 October 2014</li>
            </ul>
        </div>
    </div>
    
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{% static 'images/recent-post/post-03.jpg' %}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="#">Quisque cursus metus vitae pharetra auctor sem massa</a></h4>
            <ul>
                <li><a href="#">Super User</a></li>
                <li>15 October 2014</li>
            </ul>
        </div>
    </div>
    
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{% static 'images/recent-post/post-04.jpg' %}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="#">Praesent libero sed cursus ante dapibus diam</a></h4>
            <ul>
                <li><a href="#">Super User</a></li>
                <li>15 October 2014</li>
            </ul>
        </div>
    </div>
    
</div>