{% load static %}

<div class="widget widget-recent-post">
                        
    <div class="section-heading-2">
        <h3 class="section-title">
            <span>Recent Posts</span>
        </h3>
    </div>
                {% for post in posts %}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{% static 'images/recent-post/post-02.jpg' %}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="#">{{post.title}}</a></h4>
            <ul>
                <li><a href="#">{{post.author.get_full_name}}</a></li>
                <li>{{post.published_date|date:'d M Y'}}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
 
    
    
</div>
